{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "rules": {
  },
  "settings": {
    "import/resolver": {
      "node" : {
        "extensions": [".js",".jsx",".vue"]
      }
    }
  }
}
